#navContain{
    margin-top: 331px;
    position: absolute;
    background-color: white;
    color: white;
}
.nav{
    border: 1px white;
    width:300px;
    margin: 0px 0px 0px -16px;
    background-color: rgba(165, 192, 171, 0.918);
    padding: 14px;
}
#navText1{
    margin-left: 95px;
    display: inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
#navText1:hover{
    margin-left: 95px;
    display: inline;
    color: rgb(252, 245, 182);
    cursor: pointer;
}
#navText2{
    margin-left: 82px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    
}
#navText2:hover{
    margin-left: 82px;
    display: inline;
    color: rgb(252, 245, 182);
    cursor: pointer;
}
#navText3{
    margin-left: 85px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
#navText3:hover{
    margin-left: 85px;
    display: inline;
    color: rgb(252, 245, 182);
    cursor: pointer;
}
#navText4{
    margin-left: 110px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
#navText4:hover{
    margin-left: 110px;
    display: inline;
    color: rgb(252, 245, 182);
    cursor: pointer;
}

img{
    display: inline;
    position: absolute;
    filter: brightness(111%);
    margin: 60px 0px 0px 28px;
    border: 2px solid white;
    background-color: white;
    color: white;
}

#welcome{
    margin-left: 50px;
    font-size: 20px;
    display: inline;
    position: absolute;
}
#name{
    margin-top:26px;
    font-size: 20px;
    display: inline;
    position: absolute;
}

#navContainer{
    width:300px;
    height:564px;
    /* display: inline; */
    /* position: absolute; */
    /* margin: -14px 0px 0px 1066px; */
    border-top: 1px solid white;
    border-right: 1px solid white;
    /* float: right; */
    background-color: #83c0ce7a;
    margin-right: 2rem;
 }

 .parentContainer {
     margin: 1rem 2rem;
     display: flex;
     flex-direction: row;
 }